.pricing-wrapper {
  padding: 75px 0;
  font-family: var(--font-robo);
}

.pricing-list {
  display: flex;
  justify-content: center;
}

.pricing-item {
  width: 255px;
  text-align: center;
  padding: 25px;
  box-shadow: 0 0 0 1px var(--color-dark-green-opacity);
}
.pricing-item:first-child {
  box-shadow: 0 1px 0 0 var(--color-dark-green-opacity),
    -1px 0 0 0 var(--color-dark-green-opacity),
    0 -1px 0 0 var(--color-dark-green-opacity);
}

.pricing-item:last-child {
  box-shadow: 0 1px 0 0 var(--color-dark-green-opacity),
    1px 0 0 0 var(--color-dark-green-opacity),
    0 -1px 0 0 var(--color-dark-green-opacity);
}

.pricing-item-title {
  font-weight: 900;
  font-size: 15px;
  line-height: 22px;
  text-transform: uppercase;
  color: var(--color-bright-green);
}
.pricing-item-money {
  font-weight: 700;
  font-size: 65px;
  font-family: var(--font-mont);
  color: var(--color-drak-green-2);
}
.pricing-item-time {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: var(--color-drak-green-2);
}
.pricing-tiem-desc {
  font-weight: var(--font-weight-400);
  font-size: 14px;
  line-height: 28px;
  padding: 10px 0 45px;
  color: var(--color-dark-green-opacity);
}

.pricing-item-btn {
  margin: 5px 0;
  text-transform: uppercase;
  font-weight: var(--font-weight-400);
  font-size: 13px;
  line-height: 18px;
  color: var(--color-white);
}
